.post {
    border-bottom: 1px solid lightgray;
    display: flex;
    min-height: 60px;
}

.post:first-child {
    border-top: 1px solid lightgray;
}

.post .leftPanel {
    display: flex;
    flex-direction: column;
    min-width: 40px;
    margin: 10px;
}

.post .upvoteButton {
    background: url('./up.svg') no-repeat center;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
}

.post .downvoteButton {
    background: url('./down.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
}

.post .rightPanel {
    align-items: left;
    margin: 15px 15px 15px 15px;
    text-align: left;
}

.post .title {
    margin-bottom: 10px;
    font-size: 1.2em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.post .votes {
    padding-top: 10px;
    font-size: 0.6em;
}